/* Код для подключения шрифта в /css/stylename.css */

@font-face {
    font-family: "OswaldBold";
    src: url("../fonts/OswaldBold/OswaldBold.eot");
    src: url("../fonts/OswaldBold/OswaldBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OswaldBold/OswaldBold.woff") format("woff"),
    url("../fonts/OswaldBold/OswaldBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "OswaldRegular";
    src: url("../fonts/OswaldRegular/OswaldRegular.eot");
    src: url("../fonts/OswaldRegular/OswaldRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OswaldRegular/OswaldRegular.woff") format("woff"),
    url("../fonts/OswaldRegular/OswaldRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "OswaldLight";
    src: url("../fonts/OswaldLight/OswaldLight.eot");
    src: url("../fonts/OswaldLight/OswaldLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OswaldLight/OswaldLight.woff") format("woff"),
    url("../fonts/OswaldLight/OswaldLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

body{
    font-size: 16px;
    font-family: OswaldRegular;
    overflow-x: hidden
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

form p{
    text-align: center !important;
}

.add-new-project input{
    width: 260px !important;
}

.add-new-project textarea{
    width: 260px !important;
}

.button-custom{
    background-color: transparent;
    border: 1px solid #ce2828;
    padding: 10px 30px;
}

header{
    background-color: black;
    padding: 10px 20px
}

header .exit-button{
    float: right;
    font-size: 25px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}


header .logo-header{
    color: white;
    text-decoration: none;
    font-size: 25px;
    float: left;
}

.reg-main-block{
    background-color: #e9e9e9;
}


header .logo-header .accent-logo{
    color: #ce2828;
}

.main-sect{
    height: 100vh;
    background-color: black;
    color: white;
    text-align: center;
    font-family: OswaldRegular;
    font-size: 30px;
    background-image: url('../img/banner-main.jpg');
    width: 100%;
    background-position: center 100%;
    position: relative;
}

.main-sect .container .row{
    height: 80vh;
}

.main-sect .logo{
    color: #ce2828;
}

.copy{
    position: absolute;
    bottom: 0;
    right: 41%;
}


.main-sect h1{
    font-family: OswaldBold;
}

.auth-section{
    background-color: #e9e9e9;
    text-align: center;
}

.auth-section .row{
    height: 100vh;
}

.auth-section .form-registration{
    padding: 25px;
}

.auth-section input[type='submit']{
    display: inline-block;
    display: inline-block;
    font-size: 20px;
    border: 1px solid #ce2828;
    background-color: transparent;
    padding: 10px 30px;
    transition: .25s ease;
    cursor: pointer;
    margin-top: 20px;
    width: auto !important;
}


.auth-section input{
    width: 260px;
}

.auth-section .form-registration{
    height: 70vh;
}

.auth-section input[type='submit']:hover{
    background-color: #ce2828;
    color: white;
}

.main-sect p{
    margin-bottom: 60px;
}

.main-sect .button-custom{
    font-size: 30px;
    text-transform: uppercase;
    font-family: OswaldBold;
    text-decoration: none;
    color: white;
    transition: .25s ease;
}

.main-sect .button-custom:hover{
    background: #ce2828;
}

.reg-main-block{
    text-align: center;
}

.reg-main-block .row{
    height: 100vh;
}

.reg-main-block .form-registration{
    padding: 25px;
    height: 70vh;
}

.reg-main-block .form-registration form{
    display: block;
    text-align: center;
}

.reg-main-block .form-registration form lable{
    display: block;
}

.reg-main-block .form-registration form label input{
    display: inline-block;
    width: 260px;
}

.reg-main-block .form-registration form .wrap-button-submit{
    display: block;
}

.reg-main-block .form-registration form .wrap-button-submit input{
    display: inline-block;
    font-size: 20px;
    border: 1px solid #ce2828;
    background-color: transparent;
    padding: 10px 30px;
    transition: .25s ease;
    cursor: pointer;
    margin-top: 20px;
}

.reg-main-block .form-registration form .wrap-button-submit input:hover{
    background-color: #ce2828;
    color: white;
}

.list-of-name-projects{
    padding: 5px;
}



.list-of-name-projects li{
    border: 1px solid #ce2828;
    display: block;
    margin-top: 20px;
    transition: .25s ease;
}

.list-of-name-projects li:hover{
    background-color: #ce2828;
    color: white;
}

.list-of-name-projects li:hover a{
    color: white !important;
}

.list-of-name-projects li a{
   padding: 0 20px;
    display: block;
    text-decoration: none;
    color: black;
}

.list-of-name-projects li a:hover{
    padding: 0 20px;
    display: block;
    text-decoration: none;
    color: black;
}


a.entry{
    color: red;
}